body{
    margin: 0;
    font-family: sans-serif;
    background-color: #F65E01;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    background-color: #01207D;
    border-radius: 50%;
    color: #FFF103;
    font-size: 36pt;
    font-weight: bold;
}

section{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100vw;
}

#mesa{
    height: 250px;
    background-color: white;
}

#mesa img{
    transform: scale(0.6);
}

#acoes{
    flex-direction: column;
}

#acoes button{
    background-color: #01207D;
    color: #FFF103;
    border: none;
    transform: scale(1.5);
    margin: 50px 20px 0px;
}

#acoes p{
    font-size: 20pt;
}

#idMensagem{
    display: none;
}